.footer {
  font-size: 14px;
  color: #000;
  line-height: 2;
  text-align: center;
}

.coder {
  border-radius: 20px;
  border: 2px white solid;
  position: relative;
}

.coder:hover {
  border: 0;
  border: 1px #fff solid;
}

.githubLink,
.linkedinLink,
.netlifyLink {
  text-decoration: none;
  color: #0c8cd6;
}

.githubLink:hover,
.linkedinLink:hover,
.netlifyLink:hover {
  color: #fff;
}
