.appText {
  text-align: center;
}

.forecast,
.weatherForecast {
  text-align: center;
}

.tempHigh {
  font-weight: bolder;
  margin-right: 7px;
}

@media (max-width: 576px) {
  .dayOne,
  .dayTwo,
  .dayThree,
  .dayFour,
  .dayFive {
    padding-top: 10px;
  }

  .appText {
    margin-top: 10px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .dayOne,
  .dayTwo,
  .dayThree,
  .dayFour,
  .dayFive {
    padding-top: 5px;
  }

  .appText {
    margin-top: 15px;
  }
}
