.searchWeather {
  border: 1px solid rgb(182, 176, 176);
  display: inline;
}

.fas {
  font-size: 12px;
  text-align: right;
}

@media (max-width: 576px) {
  .searchBar,
  .searchButton {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .searchButton {
    text-align: center;
    margin-top: 10px;
  }

  .searchIcon {
    margin-right: 5px;
    margin-top: 5px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .searchBar,
  .searchButton {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .searchButton {
    text-align: center;
    display: inline;
    margin-top: 10px;
  }

  .searchIcon {
    margin-right: 5px;
    margin-top: 5px;
  }
}
