h1,
h2 {
  text-align: left;
}

h1 {
  position: relative;
  top: 15px;
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

.temperature {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
}

.celcius,
.fahrenheit,
.or {
  font-size: 20px;
  text-decoration: none;
  position: relative;
  top: -15px;
}

.active {
  color: #212529;
  cursor: default;
}

.active:hover {
  color: #212529;
}

.weatherPicture {
  width: 180px;
  position: sticky;
  float: right;
  animation: bounce 500ms ease infinite alternate;
}

.weatherDetails:first-letter {
  text-transform: capitalize;
}

.feelsLike {
  font-size: 15px;
  font-weight: bold;
}

.fas {
  font-size: 12px;
  text-align: right;
}

.windIcon,
.humidityIcon {
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 3px;
}

.humidityIcon {
  margin-left: 7px;
}

@media (max-width: 991px) {
  h1,
  h2 {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
  }

  .weatherDetails,
  .temperature {
    display: block;
    text-align: center;
  }
}
